body {
    background-image: linear-gradient(0deg, rgb(82, 157, 255), rgb(89, 194, 255));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hideDiv {
    display: none;
}

.containerWeather {
    font-family: 'Lato', sans-serif;
    transition-delay: 0.3s;
    font-size: 2em;
    color: #fff;
    zoom: 0.7;
    text-align: center;
}

.location {
    font-size: 4rem;
}

.temp {
    font-size: 5em;
}

#wrapper{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

section{
    margin: 50px 0;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#button-blue{
    float:left;
    width: 50%;
    max-width:500px;
    border: white solid 4px;
    cursor: pointer;
    background-color: #59C2FF;
    margin-top: -4px;
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: .1em;
    padding-top: 22px;
    padding-bottom: 22px;
    font-weight: 500;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

#button-blue:hover{
    background-color: rgba(0,0,0,0);
    color: #59C2FF;
}

.btn-container:hover .ease{
    width: 50%;
    max-width: 500px;
    background-color: white;
    border: 0;
}

.btn-position {
    margin-top: 10px;
}